<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Corsi block-tapping test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Corsi block-tapping test"> <!-- https://gist.github.com/tfausak/2222823 -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script type="text/x-handlebars" data-template-name="application">
    <div class="container">
      {{outlet}}
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="intro">
    <div class="row row-intro">
      <div class="col-sm-10 col-sm-offset-1">
        <h1>Corsi block tasting test</h1>
        <p>Prueba de memoria está diseñado para poner a prueba la memoria de trabajo espacial del sujeto en un corto período. La prueba consta de nueve metros cuadrados, de los cuales los sujetos fueron asignados al número seleccionado de cuadrados. El sujeto entonces será asignado los mismos cuadrados del mismo orden, que se ha demostrado previamente.</p>
      </div>
    </div>
    <div class="row row-start-test">
      <div class="col-sm-6 col-sm-offset-3">
        <button type="button" class="btn btn-lg btn-primary">Iniciar prueba</button>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="pre">
    <div class="row row-intro row-start-test-intro">
      <div class="col-sm-10 col-sm-offset-1">
        <h1>Prueba de Memoria - Nivel {{level}}</h1>
        <p><strong>Nota:</strong> En la siguiente prueba, se le presentará <strong>{{level}}</strong> {{multiply level 'cuadrado'}}.<br>Haga clic en las casillas después de este mismo orden<br>a medida que se presentan a usted.</p>
      </div>
      <div class="col-sm-10 col-sm-offset-1 small-btns">
        <button id="small-btn-1" type="button" class="btn btn-lg btn-primary btn-flash">1</button>
        <button id="small-btn-2" type="button" class="btn btn-lg btn-primary">2</button>
        <button id="small-btn-3" type="button" class="btn btn-lg btn-primary">3</button>
        <button id="small-btn-4" type="button" class="btn btn-lg btn-primary">4</button>
        <button id="small-btn-5" type="button" class="btn btn-lg btn-primary">5</button>
        <button id="small-btn-6" type="button" class="btn btn-lg btn-primary">6</button>
        <button id="small-btn-7" type="button" class="btn btn-lg btn-primary">7</button>
        <button id="small-btn-8" type="button" class="btn btn-lg btn-primary">8</button>
        <button id="small-btn-9" type="button" class="btn btn-lg btn-primary">9</button>
      </div>
    </div>
    <div class="row row-start-test">
      <div class="col-sm-6 col-sm-offset-3">
        <button type="button" class="btn btn-lg btn-primary">Nivel {{level}}</button>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="test">
    <div class="row row-test">
      <div class="col-sm-10 col-sm-offset-1 test-btns">
        <div class="screen"></div>
        <button id="btn-1" type="button" class="btn btn-lg btn-primary">1</button>
        <button id="btn-2" type="button" class="btn btn-lg btn-primary">2</button>
        <button id="btn-3" type="button" class="btn btn-lg btn-primary">3</button>
        <button id="btn-4" type="button" class="btn btn-lg btn-primary">4</button>
        <button id="btn-5" type="button" class="btn btn-lg btn-primary">5</button>
        <button id="btn-6" type="button" class="btn btn-lg btn-primary">6</button>
        <button id="btn-7" type="button" class="btn btn-lg btn-primary">7</button>
        <button id="btn-8" type="button" class="btn btn-lg btn-primary">8</button>
        <button id="btn-9" type="button" class="btn btn-lg btn-primary">9</button>
      </div>
      <div class="col-sm-10 col-sm-offset-1 message-column">
        <h2 class="message"></h2>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="result">
    <div class="row row-intro">
      <div class="col-sm-10 col-sm-offset-1">
        <h1>Prueba Finalizada</h1>
        <p>Gracias por participar en la prueba.
        </p>
      </div>
    </div>
    <div class="row row-start-test">
      <div class="col-sm-6 col-sm-offset-3">
        <button type="button" class="btn btn-lg btn-primary">Finalizar</button>
      </div>
    </div>
  </script>

  <!--
  <script src="js/libs/jquery.js"></script>
  <script src='js/libs/lodash.js'></script>
  <script src='js/libs/fastclick.js'></script>
  <script src="js/libs/handlebars.js"></script>
  <script src="js/libs/ember.js"></script>
  <script src="js/libs/ember-data.js"></script>
  -->
  <script src="js/libs.min.js"></script>
  <script src="js/app.min.js"></script>
</body>
</html>